@model Capstone.Models.CustomerGoalsAndBudget

@{
    ViewBag.Title = "CustomerGoalsAndBudget";
}

{
    @Html.AntiForgeryToken()

<h2>CustomerGoalsAndBudget</h2>

<div class="form-group">
    @Html.LabelFor(model => model.Savings, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Savings, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Savings, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SavingForExpenses, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SavingForExpenses, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SavingForExpenses, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BudgetFoodDrinks, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BudgetFoodDrinks, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => BudgetFoodDrinks, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BudgetRentHomeUtilities, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BudgetRentHomeUtilities, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BudgetRentHomeUtilities, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BudgetCarTransportationExpenses, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BudgetCarTransportationExpenses, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BudgetCarTransportationExpenses, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BudgetClothesShoes, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BudgetClothesShoes, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => BudgetClothesShoes, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BudgetHealthBeauty, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BudgetHealthBeauty, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BudgetHealthBeauty, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BudgetGoodwill, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BudgetGoodwill, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BudgetGoodwill, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BudgetEntertainmentRecreation, "", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BudgetEntertainmentRecreation, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => BudgetEntertainmentRecreation, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Continue" class="btn btn-default" />
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}